.text-run {
    display: flex;
}

.text-run p {
    color: #20B486;
    font-weight: 600;
    font-size: 50px;
    text-shadow: 0 0 100px #20B486;
    animation: text 5s infinite;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin: 20px 0;

}

.list p {
    font-size: 30px;
}


@keyframes text {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@-webkit-keyframes text {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}